[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scatteR"]
	path = scatteR
	url = https://github.com/janithwanni/scatter
	shallow = true
	registered = true
